<p class="heading">ngx pagination works!</p>
<div class="products-container">
<div *ngFor="let p of products | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" >
    <!-- <p>{{ i }}</p> -->
    <!-- <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? '#D5F5E3' : '#FADBD8'}"> -->
        <div class="product-container">
        <div class="image-container"><img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px"></div>
        <div>
            <div class="name-container"><h6>{{p.name}}</h6></div>
            <div class="detailContainer">
                <div class="details" [ngStyle]="{color: p.available === 'Available' ? 'Green' : 'Red'}">{{ p.available }}</div>
                <div class="details"><b>Price:</b>${{ p.price }}</div>
                <div class="details"><b>Color:</b>{{ p.color }}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning" *ngIf="p.available === 'Available'; else notifyme">Buy Now</button>
            <ng-template #notifyme>
                <button class="btn btn-danger">Notify me</button>
            </ng-template>
        </div>
    </div>
</div>

</div>
<div class="parent-container ">
    <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
