.heading {
    text-align: center;
  }
.products-container{
    
    margin: 0px auto;
    width: 820px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(10em,1fr));
    grid-gap: 20px;
}
.product-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 200px;
    height: 250px;
}
.image-container {
    padding-top: 20px;
  }